<!DOCTYPE html>
{% load static %}
<html >

<head>

  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>


</head>

<body>
  <div class="form">



        <div id="login">
          <h1>Welcome Back!</h1>
{% load i18n %}
{% load account socialaccount %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>



</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
          <form action="{% url 'staff:login' %}" method="post">
             {% csrf_token %}
            <div class="field-wrap">
            <label>
              Username<span class="req">*</span>
            </label>
            <!--<input type="text" name="username" required autocomplete="off"/>-->
              {{ form.username }}
                {{form.errors.username}}
          </div>

          <div class="field-wrap ">
            <label>
              Password<span class="req">*</span>
            </label>
            <!--<input type="password" name="password" required autocomplete="off"/>-->

            {{ form.password }}
            {{form.errors.password}}

          </div>

              <p class="forgot"><a href="{% url 'staff:home' %}">New Registeration!!</a></p>
            {{ empty }}
          <button class="button button-block" >Log In</button>
          </form>
        </div>
      </div><!-- tab-content -->

 <!-- /form -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="{% static 'js/index.js' %}" ></script>

</body>
</html>
